# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# GitHub
.github

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
LICENSE
